body{
	/*Color de fondo */
	background-color: #2f2f4d ;
	/* Color de texto */
	color: #e8d18e;
	/*Tamaño de texto*/
	font-size: 24px;
	/*Alineación del texto*/ 
	text-align: justify;
	margin-top: 20px;
	padding: 30px;
}
h1{
	color: #bab195;
	text-align: center;
	margin-bottom:20px ;
}
.espacio{
	margin-top:20px;
	margin-bottom:20px;
}
h5{
	color:#11091a;
}